<app-navbar></app-navbar>
<div class="container">
  <button
    type="submit"
    data-mdb-button-init
    data-mdb-ripple-init
    class="btn mb-4 mt-4 btnSubmitPrimary"
    [disabled]="!isParent"
    (click)="navigateToForm(selectedUser)"
  >
    Ajouter un enfant
  </button>
  <div class="chart-wrap">
    <div *ngFor="let level of familyTree">
      <div class="connector" *ngIf="level.members.length > 1"></div>
      <div class="org-group">
        <div
          class="org-box org-box-shadow"
          *ngFor="let person of level.members"
        >
          <div (click)="navigateToForm(person)">
            <img
              [src]="person.photo"
              alt="{{ person.name }}"
              class="rounded-circle avatar-img"
            />
            <a href="#">{{ person.name }}</a>
            <p>{{ person.role }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
