<app-navbar></app-navbar>
<div class="container mt-4">
  <h2 class="titlePrimary title text-center">Liste des tâches</h2>
  <button
    type="submit"
    data-mdb-button-init
    data-mdb-ripple-init
    class="btn mb-4 mt-4 btnSubmitPrimary"
    [disabled]="!isParent"
    (click)="navigateToForm(selectedData)"
  >
    Ajouter une tâche
  </button>
  <input
    type="text"
    [(ngModel)]="searchText"
    (input)="filterDataTable()"
    class="form-control mb-3"
    placeholder="Rechercher ..."
  />
  <ngx-datatable
    class="bootstrap"
    [rows]="filteredData"
    [columns]="DataTableColumns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="3"
    [selectionType]="selectionType"
    (select)="navigateToForm($event.selected[0])"
    [messages]="messages"
  >
    <ngx-datatable-column
      *ngFor="let column of DataTableColumns"
      [name]="column.name"
      [prop]="column.prop"
      [sortable]="true"
    >
      <!-- <ng-template let-column="column" ngx-datatable-header-template>
        <span class="m-2">{{ column.name }}</span>
        <i class="fa fa-sort-up"></i>
        <i class="fa fa-sort-down"></i>
      </ng-template> -->
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <div class="datatable-footer">
        <span>Total des lignes : {{ filteredData.length }}</span>
      </div>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>
