<app-navbar></app-navbar>
<div>
  <h2 class="titlePrimary title mt-4">
    Information d'un critère de validation
  </h2>

  <div class="container mt-4">
    <div class="card">
      <div class="card-body py-5 px-md-5">
        <div class="align-items-center justify-content-center">
          <form [formGroup]="form">
            <div *ngFor="let field of formFields">
              <div class="mb-2 form-outline">
                <label class="form-label" [for]="field.name">{{
                  field.label
                }}</label>

                <input
                  *ngIf="field.type !== 'select'"
                  [type]="field.type"
                  [formControlName]="field.name"
                  [id]="field.name"
                  class="form-control w-100"
                />
              </div>
              <div
                *ngIf="
                  form.get(field.name)?.invalid && form.get(field.name)?.touched
                "
              >
                <small *ngIf="form.get(field.name)?.hasError('required')"
                  >Ce champ est requis.</small
                >
              </div>
            </div>
            <div
              class="d-flex justify-content-center"
              *ngIf="isParent === true"
            >
              <button
                class="btn mb-4 btnSubmitPrimary"
                [disabled]="form.invalid"
                (click)="onSubmit()"
              >
                {{ action === "add" ? "Enregistrer" : "Modifier" }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
