/* You can add global styles to this file, and also import other style files */
/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff;
    --default-color: #212529;
    /* Default color used for the majority of the text content across the entire website */
    --primary-color: #0d21a1;
    /* Color for headings, subheadings and title throughout the website */
    --secondary-color: #c71f00;
    /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff;
    /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
    /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #212529;
    /* The default color of the main navmenu links */
    --nav-hover-color: #c71f00;
    /* Applied to main navmenu links when they are hovered over or active */
    --nav-mobile-background-color: #ffffff;
    /* Used as the background color for mobile navigation menu */
    --nav-dropdown-background-color: #ffffff;
    /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #212529;
    /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #c71f00;
    /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

.titlePrimary {
    color: var(--primary-color);
}

.titleSecondary {
    color: var(--secondary-color);
}

.title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-align: center;
}

.contentText {
    font-family: 'Poppins', serif;
    color: var(--default-color);
}

.btnSubmitPrimary {
    color: white;
    background-color: var(--primary-color);
}

.btnSubmitPrimary:hover {
    background-color: var(--secondary-color);
    color: white;
}

.btnSubmitPrimary:focus {
    outline: none;
    /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
    /* Focus glow */
}

.btnSubmitPrimary:active {
    background-color: #003d80;
    /* Even darker shade on click */
    transform: scale(0.98);
    /* Slight scale effect */
}

.footerStyle {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    /* Enables vertical scrolling */
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 20px;
    margin-bottom: 50px;
    /* Light background */
}

/* .container {
    min-height: 100vh;
padding: 20px;
}

*/
ngx-datatable.bootstrap {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 5px;
}

ngx-datatable {
    border: 1px solid #ddd;
}

ngx-datatable .datatable-body-cell {
    border-bottom: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

ngx-datatable .datatable-header-cell {
    border-bottom: 2px solid #007bff;
    text-align: center;
    margin: 5px;
    padding: 5px;
    /* Centrer l'en-tête */
}

/* Couleur de survol de la ligne */
ngx-datatable .datatable-body-row:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* Changer la couleur lors du clic sur une ligne */
ngx-datatable .datatable-body-row.active {
    background-color: #d3d3d3;
}

.datatable-footer {
    color: #007bff;
    /* Couleur du texte */
}

.datatable-footer span {
    font-size: 16px;
    /* Taille du texte */
    color: #333;
    /* Couleur du texte principal */
}

.form-label {
    color: #007bff;
}